a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
body {
	color: #656565;
	margin: 0;
	font-family: calibri;
}
header {
	background: #3367d3;
}
header a {
	padding: 10px;
	font-size: 25px;
	color: white;
	font-weight: bold;
}
div.share {
	padding: 10px;
}
div.share * {
	vertical-align: middle;
}
div.share a {
	text-align: center;
	font-size: 55px;
	margin: 0px 10px;
	transition: all .1s ease;
}
div.share a span {
	display: block;
	font-size: 14px;
	transform: scale(0,0) translate(0%,200%);
	transition: all .3s ease;
	color: #656565;
}
div.share a:hover {
	transform: scale(1.2,1.2);
}
div.body {
	position: relative;
	width: 65%;
	display: inline-block;
	vertical-align: top;
	line-height: 1.5;
	font-size: 20px;
	text-align: left;
}
div.box {
	padding: 15px;
	background: #cddeef;
	border-radius: 10px;
	border: 1px solid grey;
	color: #152535;
}
div.box h2 {
	margin-top: 25px;
	margin-bottom: 10px;
}
div.box p {
	margin-top: 0;
}
.share2 {
	position: fixed;
	top: 50%;
	transform: translate(0%,-50%);
	left: 1%;
	transition: all .5s ease;
}
.share2>* {
	display: block;
}
.share2 a {
	padding: 10px;
	font-size: 45px;
	border-radius: 50px;
	transition: all .1s ease;
}
.share2>a {
	transform: translate(-150%,0%);
}
.share2>a:hover {
	transform: scale(1.5,1.5);
}
.share2 a span {
	display: block;
	font-size: 14px;
	color: #656565;
}